<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="topHeading" class="headingName Classno2 classsno3"> InDiLearn </h1>
    <h1 class="headingName"> Hello </h1>
    <h2 id="JJ2"> Hello World </h2>
    <button id="button"> Bigger  </button>
    <button id="discoButton" ondblclick="fn()"> Fun </button>
    

    <a 
    href="index.html" 
    id="anchorTag" 
    class="Anchor-class"  
    > This is the link to other page </a>
    
    
    
    <input type="text" placeholder="" id="input" name="">

    <script src="index.js"></script>
</body>
</html>