<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Index</title>
</head>
<body>
   <main>
    <nav class="navBar">
        <div class="navDiv">
            <img class="navimage" src="../static/icon.jpg" alt="Logo">
            <h1 class="navheading"> FarmOptiAI </h1>
        </div>
        <div class="navDiv">
            <ul class="navlist">
                <li class="listitem">Home</li>
                <li class="listitem">About Us</li>
                <li class="listitem">Services</li>
            </ul>
        </div>
    </nav>
    <div class="gridContainer">
        <div class="gridContent1">1</div>
        <div class="gridContent">2</div>
        <div class="gridContent">3</div>
        <div class="gridContent">4</div>
        <div class="gridContent">5</div>
        <div class="gridContent">6</div>
        <div class="gridContent">7</div>
        <div class="gridContent">8</div>
        <div class="gridContent">9</div>
    </div>
   </main>
</body>
</html>